<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <h2>Edit Your Chat</h2>
        <p>Chat ID: <%= chat._id %></p>
        <p>This chat was sent from: <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
        <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
            <label for="msg">Message:</label>
            <textarea name="msg" id="msg" rows="4"><%= chat.msg %></textarea>
            <button class="icon-button">
                <i class="fas fa-edit"></i> Edit
            </button>
        </form>
    </div>
</body>
</html>
